@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgba(0, 0, 0, 0.08); */
}
body {
  font-family: "Poppins", sans-serif;
}

.task__icon {
  @apply w-4 h-4;
}

.flex__center {
  @apply flex justify-center items-center;
}

.flex__col {
  @apply flex justify-center items-center flex-col;
}
.flex__SB {
  @apply flex justify-between items-center;
}

/* =================== CONTAINER ==================== */

.custom__container {
  @apply max-w-[1200px] w-full mx-auto px-10 min-h-full;
}

.dark__mode {
  @apply bg-black text-white;
}

.add__story {
  display: flex !important;
}

@layer utilities {
  .hide__scrollbar::-webkit-scrollbar {
    display: none;
  }
}
